main {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: black;
  text-decoration: none;
  text-decoration: none;
  font-size: 16px;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  font-family: "zuume-cut", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/ main {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}
header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  margin-bottom: 10px;
}
header nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 127px;
  overflow-x: auto;
  height: 100%;
}
nav {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  justify-content: space-between;
  text-align: center;
  font-family: "Lilita One", cursive;
  font-size: 65px;
}

a.active {
  color: white;
}
body {
  background-color: white;
}
h1 {
  font-family: "zuume-cut", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: green;
  text-align: center;
  font-size: 700%;
}
h2 {
  font-family: "zuume-cut", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-align: center;
  /* border: 0.2cqw solid green;
  width: 85%;
  height: 31%; */
}
p {
  font-family: "zuume-cut", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}
video {
  aspect-ratio: 16/9;
  width: 94%;
}
iframe {
  aspect-ratio: 16/9;
  width: 100%;
}
.streg {
  border-top: 2px solid black;
  margin-bottom: 5px;
}
